*.venv/
*.venv310/
*.csv
*.v
*.pyc
*.xpr
*.jou
*.log
*.str
.Xil*
*.gen*
*.cache*
*.runs*
*.hw*
*.ip*
*.sim*
*.xci
*.ui
*.bda

*.xml
*.bxml

!/matlab/nb_oscillations_vs_aquisition_time/*.csv
!/matlab/nb_oscillations_equality_vs_aquisition_time/*.csv
!/matlab/intra_device_raw_perf_vs_aquisition_time/*.csv